.complete__icon {
    color: green;
    width: auto;
    height: 70px;
}
.summary,
.order {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.order {
    border-bottom: 1px solid black;
}
